@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');
html {
  background-color: #211f1f;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;

}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}



.button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  background-color: rgba(98, 84, 81, 0.9);
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.button.light {
  background-color: rgb(44, 69, 82);

}
.button.light:hover {
  background-color: rgba(26, 108, 125, 0.9);
}
@media screen and (max-width: 520px) {
  .button {
    padding: 4px 8px;
    font-size:10px;
  }
}
.button:hover {
  background-color: rgba(46, 42, 40, 0.9);
}
.scrollToTop {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  height: 50px;
  width: 48px;
  bottom:15%;
  position: fixed;
  z-index: 101;
  right: 5px;
}


.button-light {
  background-color: transparent;
  border: 1px solid rgba(98, 84, 81, 0.9);
}
.button-light:hover {
  border-color: transparent;
}
.heading {
  color: inherit !important;

  text-align: center;
  font-size:44px;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  color: inherit !important;
}


@keyframes circle-loading {
  to {
    transform: rotateZ(360deg);
  }
}

/*span {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  animation: circle-loading 1200ms ease infinite;
}*/
